<head>
	<style>
		a#loginButton{
			margin-left: 115px;
		}

		#sideBarLang{
			margin-left: 20px;
		}
		form{
			width: 300px;
		}
	</style>
</head>

<form role="form" class="col-md-3">



	<!-- Dropdown Menu Here, will take user to language specific page -->
		<input name='authenticity_token' value="<%=form_authenticity_token %>" type="hidden">
    	<label for='name'>Look for a particular topic: <br><input type='text' name='name' id='name'></label><br>
		<input type="submit" value="Nom Nom Time!" class="comment_button">
		</div>
    

	<!-- article links  -->
	<div id="sideBarLang">
		<h4><a href="#"><%= image_tag("programming_logos_ruby.png", size:"50x50", :alt => "nomnomlogo
		") %> Ruby</a></h4>
		<h4><a href="#"><%= image_tag("programming_logos_rails.png", size:"50x50", :alt => "nomnomlogo") %> Rails</a></h4>
		<h4><a href="#"><%= image_tag("programming_logos_python.png", size:"50x50", :alt => "nomnomlogo") %> Python</a></h4>
		<h4><a href="#"><%= image_tag("programming_logos_github.png", size:"50x50", :alt => "nomnomlogo") %> Github</a></h4>
	</div>
