<!-- Main Page -->
<head>
	<style>
		a#loginButton{
			margin-left: 115px;
		}

		#sideBarLang{
			margin-left: 20px;
		}
		#recentNoms{
			margin-left: 40px;
		}
		form{
			width: 300px;
		}
		#recentNoms h4{
			padding-top: 20px;
		}
		#topicFinder{
			margin-left: 20px;
			padding-bottom: 10px;
		}
	</style>
</head>

<form role="form" class="col-md-3">
	<!-- Dropdown Menu Here, will take user to language specific page -->
		<input name='authenticity_token' value="<%=form_authenticity_token %>" type="hidden">
		<div id="topicFinder">
    	<label for='name'>Looking for a particular topic: <br><input type='text' name='name' id='name'></label><br>
		<input type="submit" value="Nom Nom Time!" class="comment_button">
		</div>
    

	<!-- article links  -->
	<div id="sideBarLang">
		<h4><a href="/show_ruby_pg" name="ruby"><%= image_tag("programming_logos_ruby.png", size:"50x50", :alt => "ruby
		") %> Ruby</a></h4>
		<h4><a href="#"><%= image_tag("programming_logos_rails.png", size:"50x50", :alt => "nomnomlogo") %> Rails</a></h4>
		<h4><a href="#"><%= image_tag("programming_logos_python.png", size:"50x50", :alt => "nomnomlogo") %> Python</a></h4>
		<h4><a href="#"><%= image_tag("programming_logos_github.png", size:"50x50", :alt => "nomnomlogo") %> Github</a></h4>
		<h4><a href="#"><%= image_tag("programming_logos_javascript.png", size:"50x50", :alt => "nomnomlogo") %> Javascript</a></h4>
		<h4><a href="#"><%= image_tag("programming_logos_css.png", size:"50x50", :alt => "nomnomlogo") %> CSS</a></h4>
		<h4><a href="#"><%= image_tag("programming_logos_html5.png", size:"50x50", :alt => "nomnomlogo") %> Html 5</a></h4>
		<h4><a href="#"><%= image_tag("programming_logos_jquery.png", size:"50x50", :alt => "nomnomlogo") %> jQuery</a></h4>
		<h4><a href="#"><%= image_tag("programming_logos_mysql.png", size:"50x50", :alt => "nomnomlogo") %> MySql</a></h4>
		<h4><a href="#"><%= image_tag("programming_logos_php.png", size:"50x50", :alt => "nomnomlogo") %> Php</a></h4>
	</div>
</form>

<!-- 5 Recent articles -->

<div id="recentNoms">
	<h2>Recent Nom Noms</h2>
	<% @current_five_articles.each do |x| %>
		<h4><a href="/recipe/<%= x.id %>"><%= x.title %></a></h4>
		<h6>Created by: <%= x.user.alias %></h6>
		<h6><a href="#"><%= x.created_at.strftime("%m/%d/%Y") %></a></h6>
		<h1><%=x.language.lang%></h1>
	<% end %>
</div>





