<h1>Title</h1>
<h2>Content</h2>

<h1><%= @post.title %></h1>
<p><%= @post.language %></p>
<p><%= @post.title %></p>
<p><%= @post.description %></p>
<p><%= @post.step1 %></p>
<p><%= @post.step2 %></p>
<p><%= @post.step3 %></p>
<p><%= @post.step4 %></p>
<p><%= @post.step5 %></p>
<p><%= @post.step6 %></p>
<p><%= @post.step7 %></p>
<p><%= @post.step8 %></p>
<p><%= @post.step9 %></p>
<p><%= @post.step10 %></p>


