<!DOCTYPE html>
<html>
<head>
  <title>Codingnomnom</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

<style>
	#topBar{
		/*height: 300px;*/
		background-color: red;
		padding: 10px 0px;
	}

	#nomnomlogo{
		/*margin-top: 20px;*/
		margin-left: 30px;
		display:inline-block;
	}
</style>

</head>
<body>
<div id="topBar">

	<!-- NomNom Logo -->
	<div id="nomnomlogo">
	<%= image_tag("nom_logo-02.png", size:"300x250", :alt => "nomnomlogo") %>
	</div>


</div><!-- End of 'topbar' container -->





  <% if current_user %>
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
        </div>
        <ul class="nav navbar-nav">

    	   <li><a href = '/'>Homepage</a></li>
         <li><a href= '/profile'>Profile</a></li>
         <li><a href = '/newrecipe'>Create Recipe</a></li>
         <li><a href = '/editprofile'>Edit Profile</a></li>
        <li><a href="/sessions/<%=current_user.id%>" data-method="delete"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
        </ul>
      </div>
    </nav>

<% else %>

 <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
        </div>
        <ul class="nav navbar-nav">
    
        	<li><a href='/'>Homepage</a></li>
       		<li><a href='/login' id="loginButton">Login</a></li>


        </ul>
      </div>
    </nav>

 <% end %>

<%= yield %>

</body>
</html>
